body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#header {
    background-color: rgb(28, 128, 228);
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: white;
    line-height: 0.2;
    
}


#header h1 {
    font-size: 3em;
}


#header p {
    font-style: italic;
    font-weight: 500;
}

#main-content {
    padding: 1em;
}

#main-content h2, h3 {
   text-transform: uppercase; 
}

#main-content h2 {
    padding-bottom: 1em;
}

#main-content li {
    padding-bottom: 10px;
}

#main-content p {
    line-height: 0;
}


#quiz-section {
    margin-top: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: rgb(224, 246, 255);
    border-style: solid;
    border-color: lightgray;
    border-width: 1.5px;
    line-height: 1.6;
}

#quiz-section h2 {
    font-weight: 700;
    padding: 0;
    margin-bottom: 30px ;
}


span {
    color: orangered;
    font-weight: 700;
}

#quiz-section img {
    float: right;
    margin-top: 2em;
    margin-right: 5em;
    border-color: blueviolet;
    border-style: solid;
    border-width: 4px;
    width: 6em;
}

#species-table {
    padding: 1em;
}


th {
    background-color: rgb(151, 150, 150);
    color: white;
    text-align: left;
    padding: 5px;
}

td {
    padding: 5px;
}

#footer {
    background-color: lightgray;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 2px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #header {
        line-height: 0.8;
    }
}